<h1>About Us!</h1>
<p><b><center>We are just three motivated and unqualified junior devs, in over our heads. Here's a picture of us working on this website!</center></b></p>
 <span><center><%= image_tag "kill us.jpeg" %></center></span>