<h1>Our Services</h1>
<p>We make shitty websites!
  Lose track of time.
  
</p>


<h3>Meet the team!</h3>
<div class="pics">

<div class="column" id="andrew">
  <%= image_tag "surf.png", :size => '100x200' %>
  <p>Really good at catching popcorn in my mouth</p>
</div>
<div class="column" id="lori">
  <%= image_tag 'lori.png', :size => '200x100' %>
  <p>Really good at everything, except coding</p>
</div>
<div class="column" id="angel">
  <%= image_tag 'angel.png', :size => '550x500' %>
  <p>Not very funny</p>
</div>

</div>
