<h1><center>Our Services</center></h1>
<h3><center><b>We make awesome websites!</b></center></h3>


<h3><center>Meet the team!</center></h3>

<div class="container">
	<div class="row">
		<div class="col" id="andrew">
		  <%= image_tag "surf.png", :size => '300x300' %>
		  <p><b>Andrew<br>Really good at coding.</b></p>
		</div>

		<div class="col" id="lori">
		  <%= image_tag 'lori.png', :size => '300x300' %>
		  <p><b>Lori<br>Really good at everything, except coding.</b></p>
		</div>

		<div class="col" id="angel">
		  <%= image_tag 'angel.png', :size => '300x300' %>
		  <p><b>Angel<br>Really good guy...</b></p>
		</div>

    </div>

</div>
